<nb-card [style.width.percentage]="1000" [style.height.px]="635">
  <nb-card-header>
    Add Requirement
    <button nbButton hero status="danger" (click)="dismiss()">Close</button>
  </nb-card-header>

  <nb-card-body>

    <form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>

      <div class="row">

        <div class="col-sm-6">

          <div class="form-group">
            <label>Name</label>
            <input nbInput type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="requirement.Nom"
              #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
            <div *ngIf="f.submitted" class="invalid-feedback">
            </div>
          </div>


        </div>

        <div class="col-sm-6">

          <div class="form-group">
            <label>Type</label>
            <input nbInput type="text" class="form-control" placeholder="Type" name="Type"
              [(ngModel)]="requirement.type" #adress="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && adress.invalid }" required />
            <div *ngIf="f.submitted " class="invalid-feedback">
            </div>
          </div>

          <div class="form-group">
            <label>Status</label>
            <input nbInput type="text" class="form-control" placeholder="Status" name="Status" [(ngModel)]="requirement.status"
              #mail="ngModel" [ngClass]="{ 'is-invalid': f.submitted }" required Status/>
            <div *ngIf="f.submitted " class="invalid-feedback">
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea nbInput class="form-control" placeholder="Description" name="description"
              [(ngModel)]="requirement.Description" #description="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted }" required>
            </textarea>
            <div *ngIf="f.submitted " class="invalid-feedback">
            </div>

          </div>

        </div>

      </div>

      <button nbButton class="clearButton" type="reset" outline status="info">Clear</button>

      <button nbButton class="submitButton" type="submit" hero status="success">Submit</button>

    </form>

  </nb-card-body>
</nb-card>