<nb-card>
  <nb-card-header>
    <div>
      <h6> Daily Orders </h6>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    
    <br> <br> <br> <br> 
    <nb-card-header>
    <div>
      <h6> Number of Customer  </h6>
    <div style="display: block">
      <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"></canvas>
    </div> 
    </div>
  </nb-card-header>
    
    <br> <br> <br> <br> 
    <nb-card-header>
    <div> 
      <h6> Number of Team by Type  </h6>
    
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"></canvas>
    </div>
    </div>
  </nb-card-header>
